<!-- Prepare a container for your calendar. -->
<script
  src="https://cdn.rawgit.com/IonicaBizau/github-calendar/gh-pages/dist/github-calendar.min.js"
>
</script>

<!-- Optionally, include the theme (if you don't want to struggle to write the CSS) -->

<link rel="stylesheet" href="themes/papermod/assets/css/common/github-contributions.css" />

<div class="profile">
    {{- with .Site.Params.profileMode }}
    <div class="profile_inner">
        {{- if .imageUrl -}}
        <div class="profile-img">
            <img src="{{ .imageUrl | absURL }}" alt="{{ .imageTitle | default " profile image" }}"
            height="{{ .imageHeight | default 150 }}" width="{{ .imageWidth | default 150 }}" />
        </div>
        
        {{- end }}
        <h1>{{ .title | default $.Site.Title | markdownify }}</h1>
        <div class="profile-description">{{ .description | markdownify }}</div>
        {{- partial "social_icons.html" $.Site.Params.socialIcons -}}

        {{- with .buttons }}
        <div class="buttons">
            {{- range . }}
            <a class="button" href="{{ trim .url " " }}" rel="noopener" title="{{ .name | title }}">
                <span class="button-inner">{{ .name | title }}</span>
            </a>
            {{- end }}
        </div>
        {{- end }}

        <div class="github-contributions">
            <div class="calendar">
                <!-- Loading stuff -->
                Loading the data just for you.
            </div>
            <script>
                new GitHubCalendar(".calendar", "noevernier",  { responsive: true , global_stats: false, cache: 0, tooltips: false});
            </script>
        </div>
    </div>
    {{- end}}
    
</div>
